.Header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background: white;
}

.Header-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.Header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.Header-icons {
  display: flex;
  gap: 1rem;
  color: black;
}

.Header-icons > * {
  color: black;
}

@media (min-width: 768px) {
  .Header-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .Header-container {
    max-width: 960px;
  }
}
