.Header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5rem 1rem;
  z-index: 1000;
  background: white;
}

.Header-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.Header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.Header-icons {
  display: flex;
  gap: 1rem;
  color: black;
}

.Header-icons > * {
  color: black;
}

@media (min-width: 768px) {
  .Header-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .Header-container {
    max-width: 960px;
  }
}
