.Landing {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

.Landing-main {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.Landing-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Landing-nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .Landing-main {
    grid-template-columns: 1fr 1fr;
  }
  .Landing-img {
    display: block;
  }
}
