.NewPostModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.23);
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
}

.NewPostModal-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: inline;
  width: 5%;
  margin-top: 0;
}

.NewPostModal-title {
  margin-top: 0;
  text-align: center;
}

.NewPostModal-panel {
  max-width: 350px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.NewPostModal-text-area {
  resize: none;
  width: 100%;
}
