.NewPostModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.23);
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
}

.NewPostModal-close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: inline;
  width: 5%;
  margin-top: 0;
}
