.PostModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.PostModal-panel {
  background-color: white;
  display: flex;
  max-width: 80%;
  height: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.PostModal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.PostModal-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.PostModal-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.PostModal-comments {
  border-top: 1px solid #dbdbdb;
  padding-top: 1.25rem;
  flex: 1;
  overflow-y: auto;
  max-height: 400px;
}

.PostModal-footer {
  border-top: 1px solid #dbdbdb;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}
