.Alert {
  color: rgb(171, 39, 39);
  background-color: rgba(239, 49, 49, 0.4);
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.Alert-error {
  color: rgb(171, 39, 39);
  background-color: rgba(239, 49, 49, 0.4);
}

.Alert-success {
  color: green;
  background-color: rgba(0, 128, 0, 0.473);
}
