.Post {
  max-width: 470px;
  width: 100%;
  margin: 0 auto 20px;
  background-color: white;
}

.Post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.Post-header-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Post-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  width: '32px';
}

.Post-username {
  font-size: 14px;
}

.Post-date {
  font-size: 12px;
  color: #8e8e8e;
}

.Post-body {
  cursor: pointer;
}

.Post-picture {
  width: 100%;
  display: block;
}

.Post-footer {
  padding: 12px 16px;
}

.Post-footer-row-1 {
  display: flex;
  gap: 15px;
  font-size: 24px;
  margin-bottom: 8px;
}

.Post-footer-row-2 {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}
