.Post {
  max-width: 470px;
  width: 100%;
  margin: 0 auto 20px;
  background-color: white;
}

.Post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.Post-footer {
  padding: 12px 16px;
}